flask~=3.0.3
sqlalchemy~=2.0.34
flask_restful
flask_marshmallow
flask_apispec
flask_swagger_ui
marshmallow_sqlalchemy
flask_injector
psycopg2
injector~=0.22.0
flasgger
flask_migrate
marshmallow~=3.22.0